<header class="site-header">
  <a class="site-header__logo" href="#">
    <img src="/assets/logo.svg" alt="tape.tv Engineering"/>
  </a>
  <nav class="site-header__navigation">
    <a class="navigation-link navigation-link--red">Ruby</a>
    <a class="navigation-link navigation-link--yellow">JavaScript</a>
    <a class="navigation-link navigation-link--orange">Swift</a>
    <a class="navigation-link navigation-link--blue">Ops</a>
    <a class="navigation-link navigation-link--white">Go</a>
    <a class="navigation-link navigation-link--purple">Humans</a>
    <a class="navigation-link navigation-link--grey">Other</a>
  </nav>
</header>
