<header class="site-header">
  <a class="site-header__logo" href="/">
    <img src="/assets/logo.svg" alt="tape.tv Engineering"/>
  </a>
  <nav class="site-header__navigation">
    <a href="/ruby" class="navigation-link navigation-link--red">Ruby</a>
    <a href="/javascript" class="navigation-link navigation-link--yellow">JavaScript</a>
    <a href="/swift" class="navigation-link navigation-link--orange">Swift</a>
    <a href="/ops" class="navigation-link navigation-link--blue">Ops</a>
    <a href="/go" class="navigation-link navigation-link--white">Go</a>
    <a href="/humans" class="navigation-link navigation-link--purple">Humans</a>
    <a href="/other" class="navigation-link navigation-link--grey">Other</a>
  </nav>
</header>
