/**
 * Site header
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    width: 100%;

    &__logo {
      display: block;
      width: 319px;
      margin: 40px auto;
    }

    &__navigation {
      width: 100%;
      text-align: center;
      margin-bottom: 40px;

      .navigation-link {
        margin-right: 50px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
}

.navigation-link {
  font-family: "Titillium Web";

  &--red {
    color: #D43B50;
  }

  &--yellow {
    color: #BF9E37;
  }

  &--orange {
    color: #D4783B;
  }

  &--blue {
    color: #5085D9;
  }

  &--white {
    color: #FFFFFF;
  }

  &--purple {
    color: #BB6BC7;
  }

  &--grey {
    color: #CBD2DE;
  }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post {
  position: relative;

  &__header {

  }

  &__meta {
    color: $grey-color;
    font-style: italic;
  }

  &__title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 0;
  }

  &--orange &__title .post-link{
    color: #D47B3F;
    border-color: #D47B3F;
  }

  &:before {
    border-left: 1px solid $grey-color-light;
    height: calc(100% - 50px);
    display: block;
    content: "";
    position: absolute;
    top: 50px;
    left: -20px;
  }
}

.post-link {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-radius: 12px;
    position: absolute;
    top: 18px;
    left: -26px;
  }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
